
/* photoshop */
@media only screen and (max-width:768px) {
  .responsive-col {
  padding-top: 10px /* 96px */;
  padding-bottom: 10px /* 96px */;
  }
}
/* Toggle */
@media only screen and (max-width:768px) {
  .responsive-toggle-btn{
 margin-left:10px;
 margin-top:10px;
 position: absolute;

  }
}
@media only screen and (max-width:1280px) {
    .responsive-toggle-btn{
 
   margin-top:10px;
    }
  }
 
  /* sidebar */

  .before,
  .after {
    margin: 0;
  }

  .before figcaption,
  .after figcaption {
    background: #fff;
    border: 1px solid #c0c0c0;
 
    color: #2e3452;
    opacity: 0.8;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 100%;
  }

  .before figcaption {
    left: 12px;
  }

  .after figcaption {
    right: 12px;
  }
  @media only screen and (max-width:768px) {
    .before figcaption,
  .after figcaption{
  /* background:none;
  border:none */
  padding: 2px;
  font-size: 7px;
  
    }
  }
  /* Toggle */
  .main-continer{
    margin-top: 30px;

  }
  .each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}